@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

body { 
    color: #797979;
	background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #9c4c9d;
    color: #fff;
}
::-moz-selection {
    background: #9c4c9d;
    color: #fff;
}
/*------- css mio de  mi --------*/
ul.icons{
    cursor: default;
    padding-left: 10px;
}
 ul.icons li{
    display: inline-block;
    text-align: center;
 }
 ul.icons a{
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 3em;
    
    border: 0;
 }
 h2{
    font-size: 4em;
    color: #fff;
    font-family: 'Ruda';
    font-weight: 400;
    text-align: center;
 }
 .banner p{
    color:#fff;
    font-size: 1.5em;
 }
.banner{
    background-image: url(../img/images/banner.jpg);
    background-size:cover;
    background-position: center;
    height: 600px;
    padding-top: 25%;
}
.banner li{
    padding: 20% 5%;
    text-align: center;
}
/* Trabajos realizados */
.fondo{
  background-image: url(../img/images/tile1.png);
    background-size:25%;
    background-position: center;
    height: 100%;
    padding-top: 25%;  
}

.marco{
    border: solid 2px black;
}
.box {
    padding: 3%;
}
.video{
    max-width: 100%;
    height: auto !important;
    background-color: blue;
}
.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 1600px;
}
.video iframe, .video object, .video embed {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
/* Base colors */
.label-theme {
    background-color: #68dff0;
}

.bg-theme {
    background-color: #68dff0;
}

#container {
    width: 100%;
    height: 100%;
}

ul.top-menu > li > .logout {
	color: #f2f2f2;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #9c4c9d !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #9c4c9d;
	margin-top: 15px;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #9c4c9d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active {
    background: #9c4c9d;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #E26EAB;
    color: white;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}

/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #424a5d;
    border-bottom: 1px solid #293241;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/* LOGO */
a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #9c4c9d;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #E26EAB !important;
    background-color: #E26EAB !important;
    border-color: #E26EAB !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white !important;
}

/* utils */
.mt {
    margin-top: 10%;
}
.pd-5{
    padding: 5%;
}
.pt-3{
    padding-top: 3%;
}
.pt-25 {
    padding-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.ml {
    margin-left: 5px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
.text-left{
    text-align: left;
}

/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/* BLOG PANEL */
#blog-bg {
    background: url(../img/blog-bg.jpg) no-repeat center top;
    margin-top: -15px;
    background-attachment: relative;
    background-position: center center;
    min-height: 150px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*LOGIN CONFIGURATION PAGE*/
.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-wrap {
    padding: 20px;
}
.login-wrap .registration {
    text-align: center;
}
.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 18px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: white;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}


/***************************************************************/
/********************* Dashboard code **************************/

@media (max-width: 768px) {
    .main-chart {
        padding-top: 0px;
    }
}

.ds {
    background: #ffffff;
    padding-top: 20px;
}

.ds h4 {
    font-size: 14px;
    font-weight: 700;
}

.ds h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
    background: #9c4c9d;
    text-align: center;
}

.ds i {
    font-size: 12px;
    line-height: 16px;
}

.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

.ds .desc:hover {
    background: #f2f2f2;
}

.ds .thumb {
    width: 30px;
    margin: 0 10px 0 20px;
    display: block;
    float: left;
}

.ds .details {
    width: 170px;
    float: left;
}

.ds > .desc p {
    font-size: 11px;
}

.ds p > muted {
    font-size: 9px;
    text-transform: uppercase;
    font-style: italic;
    color: #666666
}

.page-header {
    margin-top: 0px;
}

.page-header h1 {
    margin-top: 0px;
}

.main-video h4 {
    font-weight: 800px;
    margin-top: 0px;
}

.main-video .buttons a {
    margin-right: 10px;
}

.divider {
    border: 1px solid #eaeaea;
}

.mtbox {
    margin-top: 80px;
    margin-bottom: 40px;
}

.box1 {
    padding: 15px;
    text-align: center;
    color: #989898;
    border-bottom: 1px solid #989898;
}

.box1 span {
    font-size: 50px;

}

.box1 h3 {
    text-align: center;
}

.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #f2f2f2;
}

.box0:hover p {
    color: #ff865c;
}

.box0:hover {
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}